body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 5px 10px #eee;
    box-sizing: border-box;
    padding: 15px 40px;
}

.main {
    margin: 0 auto;
    max-width: 1140px;
}

.goods-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart-button {
    border-radius: 20px;
    border: 0;
    background-color: #363636;
    color: #fff;
    width: 130px;
    height: 30px;
}

.goods-item-btn {
    border-radius: 20px;
    border: 0;
    width: 100%;
    height: 30px;
    background-color: purple;
    color: #fff; 
}